<h2>Edit checkout</h2>

<%= render "form.html", changeset: @changeset,
                        books: @books,
                        borrowers: @borrowers,
                        action: checkout_path(@conn, :update, @checkout) %>

<%= link "Back", to: checkout_path(@conn, :index) %>
