<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :book_id, class: "control-label" %>
    <%= select f, :book_id, @books, class: "form-control" %>
    <%= error_tag f, :book_id %>
  </div>

  <div class="form-group">
    <%= label f, :borrower_id, class: "control-label" %>
    <%= select f, :borrower_id, @borrowers, class: "form-control" %>
    <%= error_tag f, :borrower_id %>
  </div>

  <div class="form-group">
    <%= label f, :borrowed_on, class: "control-label" %>
    <div class="input-group date">
      <%= text_input f, :borrowed_on, class: "form-control date-picker" %>
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
      </div>
    </div>
    <%= error_tag f, :borrowed_on %>
  </div>

  <div class="form-group">
    <%= label f, :returned_on, class: "control-label" %>
    <div class="input-group date">
      <%= text_input f, :retruned_on, class: "form-control date-picker" %>
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
      </div>
    </div>
    <%= error_tag f, :returned_on %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
