<h2>Checkouts</h2>

<table class="table">
  <thead>
    <tr>
      <th>Book</th>
      <th>Borrower</th>
      <th>Borrowed on</th>
      <th>Returned on</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for checkout <- @checkouts do %>
    <tr>
      <td><%= checkout.book.title %></td>
      <td><%= checkout.borrower.name %></td>
      <td><%= checkout.borrowed_on %></td>
      <td><%= checkout.returned_on %></td>

      <td class="text-right">
        <%= link "Show", to: checkout_path(@conn, :show, checkout), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: checkout_path(@conn, :edit, checkout), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: checkout_path(@conn, :delete, checkout), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<p><%= link "New Checkout", to: checkout_path(@conn, :new) %></p>
<p><%= link "New Book", to: book_path(@conn, :new) %></p>
<p><%= link "New Borrower", to: borrower_path(@conn, :new) %></p>
