<h2>New Checkout</h2>

<%= render "form.html", changeset: @changeset,
                        books: @books,
                        borrowers: @borrowers,
                        action: checkout_path(@conn, :create) %>

<%= link "Back", to: checkout_path(@conn, :index) %>
