<h2>Show checkout</h2>

<ul>

  <li>
    <strong>Book:</strong>
    <%= @checkout.book_id %>
  </li>

  <li>
    <strong>Borrower:</strong>
    <%= @checkout.borrower_id %>
  </li>

  <li>
    <strong>Borrowed on:</strong>
    <%= @checkout.borrowed_on %>
  </li>

  <li>
    <strong>Returned on:</strong>
    <%= @checkout.returned_on %>
  </li>

</ul>

<%= link "Edit", to: checkout_path(@conn, :edit, @checkout) %>
<%= link "Back", to: checkout_path(@conn, :index) %>
