<%= form_for @changeset, book_path(@conn, :update, @book), fn f -> %>
  <div class="input_wrapper center_block">
    <label>Title</label>
    <%= text_input f, :title %>
  </div>

  <div class="input_wrapper center_block">
    <label>Author(s)</label>
    <%= text_input f, :authors %>
  </div>

  <div class="input_wrapper center_block">
    <%= submit "Update Book" %>
  </div>
<% end %>
