<div class="list">
  <%= for book <- @books do %>
    <ul>
      <strong><%= book.title %></strong>
      by
      <em><%= book.authors %></em>
      <a href="<%= book_path(@conn, :delete, book) %>">Delete</a></em>
      <a href="<%= book_path(@conn, :edit, book) %>">Edit</a></em>
      <a href="<%= book_path(@conn, :show, book) %>">View</a></em>
    </ul>
  <% end %>

  <a href="<%= book_path(@conn, :new) %>">Add a Book</a>
</div>
