<h2>Edit borrower</h2>

<%= render "form.html", changeset: @changeset,
                        action: borrower_path(@conn, :update, @borrower) %>

<%= link "Back", to: borrower_path(@conn, :index) %>
