<h2>Listing borrowers</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for borrower <- @borrowers do %>
    <tr>
      <td><%= borrower.name %></td>
      <td><%= borrower.email %></td>

      <td class="text-right">
        <%= link "Show", to: borrower_path(@conn, :show, borrower), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: borrower_path(@conn, :edit, borrower), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: borrower_path(@conn, :delete, borrower), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New borrower", to: borrower_path(@conn, :new) %>
