<h2>Show borrower</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @borrower.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @borrower.email %>
  </li>

</ul>

<%= link "Edit", to: borrower_path(@conn, :edit, @borrower) %>
<%= link "Back", to: borrower_path(@conn, :index) %>
